body {
  /* border: 2px solid red; */
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.container {
  /* border: 2px solid red; */
  background-color: #273549;
  color: white;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border-radius: 10px;
}

h1 {
  margin: 0;
  font-weight: bolder;
}

h5 {
  margin-top: 10px;
  font-weight: lighter;
}

p {
  /* border: 2px solid red; */
  width: auto;
  text-align: center;
  text-size-adjust: inherit;
}

#all-char-para {
  border: 2px solid #10b981;
  width: inherit;
  text-overflow: clip;
  overflow: auto;
  margin-bottom: 2rem;
}

button {
  width: 210px;
  height: 40px;
  border-radius: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#generate-pass-btn {
  background-color: #10b981;
}

.container-header {
  /* border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; */
  padding: 1rem 2rem;
}

.container-hr {
  /* border: 2px solid red; */
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-button {
  /* border: 2px solid red; */
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
